# Node / JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

# Build / Bundlers
dist/
build/
.vite/
.cache/

# Vite
.vite/

# React Native
# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# generated native folders
/ios
/android

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/*.iml

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace/
ios/.xcode.env.local

# Expo
.expo/
dist/
expo-env.d.ts
.expo-shared/
web-build/

# local env files
.env*.local

# typescript
*.tsbuildinfo

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE / OS
.vscode/
.idea/
*.pem
*.swp
*.swo
.DS_Store
Thumbs.db

# Tests / Coverage
coverage/

# Misc
*.log

# Database
services/database/data_preprod/
docs/