@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Yuji+Boku&display=swap');

html {
    background-color: #141319;
    font-family: "Inter", sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: column;
        width: 24rem;
        gap: 2rem;
        border: 1px solid gray;
        padding: 3rem;
        border-radius: 1rem;
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            .logo {
                width: 3.75rem;
                height: 3.75rem;
                border-radius: 100%;
                margin: 0;
                background: linear-gradient(180deg, #FF8000 0%, #FF4D00 100%);
            }
            h1 {
                font-weight: 900;
                color: white;
                font-size: 2.25rem;
                margin: 0;
            }
            p {
                color: #8D8D8D;
                font-size: 1.175rem;
                margin: 0;
            }
        }

        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            input {
                display: flex;
                width: 100%;
                height: 1rem;
                padding: 1rem;
                align-items: center;
                font-size: 1rem;
                border-radius: 1rem;
                border: 1px solid #505050;
                background: rgba(255, 255, 255, 0.05);
                color: white;
            }
            
            .lost-password {
                display: flex;
                width: 100%;
                justify-content: end;
                a {
                    color: #FF8000;
                    text-align: center;
                    text-decoration: none;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 600;
                } 
            }
            
            button {
                display: flex;
                width: 100%;
                padding: 1rem 0;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                border: none;
                border-radius: 1rem;
                background: linear-gradient(180deg, #FF8000 0%, #FF4D00 100%);
            }
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            
            p {
                color: rgba(141, 141, 141, 1);
            }
            a {
                color: rgba(255, 128, 0, 1);
            }
        }
    }
}